body {
  background-color: #E5E5E5;
  font-family: "RobotoDraft" "Hiragino Kaku Gothic ProN" sans-serif; }

core-header-panel {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

core-toolbar {
  background: #444;
  color: white; }

.container {
  width: 80%;
  margin: 50px auto; }
